@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #0f172a; /* slate-900 */
}

body {
  color: var(--foreground);
  background: var(--background);
  min-width: 1280px; /* Enforce min width as per requirements */
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
